h1 {
  font-family: fantasy;
  font-size: 50px;
  background-color: #1e1e1e;
  color: whitesmoke;
  text-align: center;
}

p {
  font-family: fantasy;
  font-size: 20px;
  color: #1e1e1e;
  text-align: center;
}

audio {
  padding-left: 570px;
}